<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>GoTaco!</title>
    <link rel="stylesheet" href="./css/index.css">
    <link href="https://fonts.googleapis.com/css?family=Bungee+Shade" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lalezar" rel="stylesheet">
</head>
<body>
	<h1>GoTaco!</h1>

	<div class="container">
    <form action="/users/login" method="POST">
        <label for="email">Email Address</label><br>
        <input class="form" id="email" type="text" name="user[email]" placeholder="username@email.com"><br>
        <label for="password">Password</label><br>
        <input class= "form" id="password" type="password" name="user[password]" placeholder="password"><br>
        <span><input type="submit" value="Log In">
        <a href="/users/signup" class="button"><button>Sign Up</button></a></span>
      </form>
      
      </div><br />

    
    

</body>
</html>