body {
	background-image: url('http://cdn.wallpapersafari.com/43/99/Vhx8HL.png');
	background-size: cover;
	height: 100vh;
	width: 100vw;

}

h1 {
	font-family: 'Bungee Shade', cursive;
	color: black;
	font-size: 65px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 5px;
}

.container {
	width: 100vw;
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Lalezar', cursive;
	text-decoration: none;

}

label {
	font-size: 25px;
	margin: 0 auto;
}

.form {
	width: 200px;
}

.button {
	text-decoration: none;

}


.sign {
	text-decoration: none;
	margin: 0 auto;
	width: 100px;
	display: block;	
}

.log-in {
	text-decoration: none;
	margin: 0 auto;
	width: 100px;
	display: block;
	padding-left: 20px;
	
}

	

