<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Favorites!</title>
	 <script src="/js/jquery.js"></script>
    <script src="/js/script.js"></script>
	<link rel="stylesheet" href="../../css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Bungee+Shade" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rock+Salt" rel="stylesheet">

</head>
<body>
<a href="/users/tacos"><button>Back</button></a>
	<h1>Favorite Taco Spots!</h1>

</body>
</html>